@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

body{
  font-family: "Nunito", sans-serif;

}
img{
  padding-top: 10px;
  padding-bottom: 10px;
}
#thumb{
  margin-bottom: 20px;
}

.contain{
  object-fit: contain;
  height: 100%;
}

.img-box {
 height: 160px;
 width: 100%;
 position: relative;
}
